:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #dbdbdb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  border: 2px solid black;
  gap: 20px;
  color: white;
  padding: 80px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 2px #242424, 2px 0 #242424;
}

.custom-navbar {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.search-bar {
  width: 500px;
  margin-top: 40px;
}
