:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #dbdbdb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home-page {
  display: flex;

  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  border: 2px solid black;
  gap: 20px;
  color: white;
  padding: 80px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 2px #242424, 2px 0 #242424;
}

.search-bar {
  max-width: 300px; /* safer than fixed width */
  width: 100%;
  height: 60px;
}
.form-control {
  border-radius: 36px;
  box-shadow: none;
  border: 1px solid #ced4da;
  height: 52px;
  max-width: 500px;
  padding: 0 15px;
}
.search-button {
  position: relative;
  right: 80px;
  background-color: #01aefd;
  height: 52px;
  color: #ffffff;
  border-radius: 36px;
}
.custom-navbar {
  background-color: #ffffff;
  width: 100%;
}
.nav-links a {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a:hover {
  color: #01aefd;
  text-decoration: underline;
}

.hero-section {
  background-color: #ffffff;

  border: 2px solid black;
}

.btn-primary-custom {
  background-color: #01aefd;
  border-color: #01aefd;
}

.btn-primary-custom:hover {
  background-color: #0096d9;
  border-color: #0096d9;
}

.hero-categories a {
  color: #212529;
  text-decoration: none;
  font-weight: 500;
}

.hero-categories a:hover {
  color: #01aefd;
}
.hero-block h1 {
  font-size: 3rem;
  line-height: 1.2;
  padding: 20px 0;
  margin-bottom: 1rem;
}
.hero-block {
  margin-bottom: 1.5rem;
}
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.card img {
  max-width: 80px;
  margin-bottom: 15px;
}
